/* css styles */
p, ul {
  text-align: left;
}

@media only screen and (max-width: 558px) {
  a.navbar-brand, span.navbar-title {
      display: none;
  }
}

@media only screen and (max-width: 375px) {
  div.quarto-navbar-tools {
      display: none;
  }
}

@media only screen and (max-width: 290px) {
div#quarto-search {
      display: none;
  }
}

code { padding: 0px; }


div.quarto-about-trestles .about-contents  p {
  text-align: justify;
  padding-right: 10px;
}

div.quarto-about-trestles .about-contents {
  border-left: none;
  padding-right: 10px;
}

@media only screen and (min-width: 992px) {
  div.quarto-about-trestles .about-entity:has(img[title="Photo by Arken Avan"]) {
    order: 2;
  }
}

div.quarto-about-trestles .about-entity:has(img[title="Photo by Arken Avan"]):after {
  content: "Photo by Arken Avan";
  text-align: center;
  margin: -20px 0px 20px 0px;
  font-size: .75em;
}

div.quarto-about-trestles .about-entity:has(img[title="Photo by Ksenia Pro"]):after {
  content: "Photo by Ksenia Pro";
  text-align: center;
  margin: -20px 0px 20px 0px;
  font-size: .75em;
}
